################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Prueba/.vs/Prueba/v16
*.config merge=ours
git config --global merge.ours.driver true
