<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="directorio" value="PRODUCCION"/>
    <add key ="Secutity" value ="PRODUCCION"/>
    <add key="origen"  value="PRODUCCION"/>
    <add key="destino" value="PRODUCCION"/>
    <add key="ruta_Base_datos" value ="PRODUCCION"/>
    <add key="ruta_Base_datosAA" value ="PRODUCCION"/>
  </appSettings>
</configuration>