<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="directorio" value="A"/>
    <add key ="Secutity" value ="B"/>
    <add key="origen"  value="C"/>
    <add key="destino" value="D"/>
    <add key="ruta_Base_datos" value ="E"/>
    <add key="ruta_Base_datosAA" value ="FXXX"/>
  </appSettings>
</configuration>