<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <<add key="directorio" value="COMPARTIDO"/>
    <add key ="Secutity" value ="COMPARTIDO"/>
    <add key="origen"  value="RELEASE"/>
    <add key="destino" value="RELEASE"/>
    <add key="ruta_Base_datos" value ="COMPARTIDO"/>
    <add key="ruta_Base_datosAA" value ="COMPARTIDO"/>
  </appSettings>
</configuration>